{% extends 'findjobs.html' %}

{% block title %}About Me{% endblock %}
{% block content %}
<div class="aboutmain">
<h1 class="aboutme">HI! I'm Rajesh Singh</h1>


<div class="container-fluid">
<img src="https://res.cloudinary.com/petbookbyrajesh/image/upload/v1620663045/aboutme/Bout_ca8mhz.jpg" class="aboutmeimg shadow">
</div>
    <br><br><br>
    <div class="abouttext">
    <span class="wow">I'm about to graduate in Computer Science, living in Nainital, Uttarakhand. </span><br><br>
    <span class="wowo">I love web development. I made this website as a personal project. It is a simple website where you can upload your pets pics and show
    them to world. I'm currently learning web development and everyday there is something new and exciting to play around.
        <br>
        Beside coding I love playing Basketball, video games, travelling and solving rubik's cube.
    </span>
    </div>
>
</div>
{% endblock %}
